code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

a {
  color: black;
}

h2 {
  margin-bottom: 1px;
}

h4 {
  margin-bottom: -10px;
}

.master {
  margin: auto;
  padding: 10px;
  width: 750px;
}

.banner {
  width: 100%;
  height: 200px;

  /* flexbox stuff */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sprite-logo {
  background-image: url('./images/sprites.png');
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  resize: both;
  overflow: none;

  width: 260px;
  height: 92px;
}

.whoami > p {
  padding: 10px 0 0 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  line-height: 43px;
  margin: auto;
}

.navbar {
  padding: 0.25em 0 .25em 0;

  display: flex;
  flex-direction: row;
}

.navbar > * > button {
  margin: 0 0.1em 0 0.1em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border: none;
  background-color: white;

  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.navbar > * > button:hover {
  margin: 0 0.1em 0 0.1em;
  background-color: #dfdfdf;
}

.socials {
  margin-left: auto;
}

.socials > a {
  padding: 10px;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.featured-posts {
  width: 70%;
  margin: 3px;
  padding: 0 10px 10px 10px;
}

.highlights {
  background-color: green;
  width: 29%;
  margin: 3px;
  padding: 0 10px 10px 10px;
  /* List of highlights */
}

.project-li {
  font-family: 'Rubik';

  padding: 5px;
  width: 100%;
}

.project-li > h3 {
  line-height: 0;
}

.project-li > img {
  margin-top: 15px;
  width: 100%;

}

.blog-item {
  font-family: 'Rubik';
  width: 100%;
  margin-bottom: 50px;
}

.blog-item > p { line-height: 0; }

.date { font-size: 13px; }

.code-block {
  background-color: #EBEBEB;

  border-color: #4E5A65;
  border-style: solid;
  border-width: 3px;
  padding: 0 15px 15px 15px;

  font-size: 13px;
  font-family: 'DM Mono', monospace;

}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
